In [1]:
import numpy as np
import pandas as pd
from pandas import Series , DataFrame

In [2]:
import webbrowser
website="https://github.com/Antanukumar"
webbrowser.open(website)

True

In [3]:
git_frame=pd.read_clipboard()
git_frame

Empty DataFrame
Columns: [https://www.udemy.com/course/learning-python-for-data-analysis-and-visualization/learn/lecture/2344366#overview]
Index: []

In [4]:
git_frame.columns

Index(['https://www.udemy.com/course/learning-python-for-data-analysis-and-visualization/learn/lecture/2344366#overview'], dtype='object')

In [5]:
git_frame.Team

AttributeError: 'DataFrame' object has no attribute 'Team'

In [ ]:
git_frame['working']

0    learning
1         for
2       about
3       reach
4           I
Name: working, dtype: object

In [ ]:
DataFrame(git_frame,columns=['currently', 'working', 'on'])

   currently   working                   on
0  currently  learning             Frontend
1    looking       for                 Work
2         me     about  HTML,CSS,JavaScript
3         to     reach                   me
4       fact         I                   am

In [ ]:
DataFrame(git_frame,columns=['currently', 'working', 'on','data'])

   currently   working                   on  data
0  currently  learning             Frontend   NaN
1    looking       for                 Work   NaN
2         me     about  HTML,CSS,JavaScript   NaN
3         to     reach                   me   NaN
4       fact         I                   am   NaN

In [ ]:
git_frame

,🔭,I’m,currently,working,on,Frontend,Web,Development
0,🌱,I’m,currently,learning,Frontend,Web,Development.,None
1,🤝,I’m,looking,for,Work,with,IT,company
2,💬,Ask,me,about,"HTML,CSS,JavaScript",and,Python.,None
3,📫,How,to,reach,me,antanukumar9@gmail.com,None,None
4,⚡,Fun,fact,I,am,Bug,programmer,None

In [ ]:
git_frame.head

<bound method NDFrame.head of    🔭  I’m  currently   working                   on                Frontend  \
0  🌱  I’m  currently  learning             Frontend                     Web
1  🤝  I’m    looking       for                 Work                    with
2  💬  Ask         me     about  HTML,CSS,JavaScript                     and
3  📫  How         to     reach                   me  antanukumar9@gmail.com
4  ⚡  Fun       fact         I                   am                     Bug

            Web Development
0  Development.        None
1            IT     company
2       Python.        None
3          None        None
4    programmer        None  >