In [1]:
import pandas as pd
import numpy as np
from pandas import Series , DataFrame

In [2]:
ser1=Series(np.arange(3),index=['A','B','C'])
ser1=2*ser1
ser1

A    0
B    2
C    4
dtype: int32

In [3]:
ser1['B']

2

In [4]:
ser1[1]

2

In [5]:
ser1[0:3]

A    0
B    2
C    4
dtype: int32

In [6]:
ser1[['A','B']]

A    0
B    2
dtype: int32

In [7]:
ser1[ser1>3]

C    4
dtype: int32

In [8]:
ser1[ser1>3] =10
ser1

A     0
B     2
C    10
dtype: int32

In [9]:
dframe=DataFrame(np.arange(25).reshape((5,5)),index=['nyc','ls','chi','sf','dc'],columns=['A','B','C','D','E'])
dframe

      A   B   C   D   E
nyc   0   1   2   3   4
ls    5   6   7   8   9
chi  10  11  12  13  14
sf   15  16  17  18  19
dc   20  21  22  23  24

In [11]:
dframe['B']

nyc     1
ls      6
chi    11
sf     16
dc     21
Name: B, dtype: int32

In [12]:
dframe[['B','E']]

      B   E
nyc   1   4
ls    6   9
chi  11  14
sf   16  19
dc   21  24

In [13]:
dframe[dframe['C']>8]

      A   B   C   D   E
chi  10  11  12  13  14
sf   15  16  17  18  19
dc   20  21  22  23  24

In [14]:
dframe

      A   B   C   D   E
nyc   0   1   2   3   4
ls    5   6   7   8   9
chi  10  11  12  13  14
sf   15  16  17  18  19
dc   20  21  22  23  24

In [15]:
dframe>10

         A      B      C      D      E
nyc  False  False  False  False  False
ls   False  False  False  False  False
chi  False   True   True   True   True
sf    True   True   True   True   True
dc    True   True   True   True   True

In [19]:
dframe.ix['chi']

AttributeError: 'DataFrame' object has no attribute 'ix'

In [20]:
dframe.ix[1]

AttributeError: 'DataFrame' object has no attribute 'ix'