In [1]:
# series method

In [2]:
import numpy as np
import pandas as pd
from pandas import Series ,DataFrame

In [7]:
obj =Series([3,6,9,12])
obj
obj.values

array([ 3,  6,  9, 12], dtype=int64)

In [8]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [9]:
cas=Series([14000,465454,45454821,4542444],index=['goa','japan','india','africa'])
cas

goa          14000
japan       465454
india     45454821
africa     4542444
dtype: int64

In [10]:
cas['india']

45454821

In [12]:
#check the values of country more than 4 milion

cas[cas>400000]

japan       465454
india     45454821
africa     4542444
dtype: int64

In [3]:
countries =['japan','india','africa','goa']