In [1]:
import pandas as pd
from pandas import Series,DataFrame
import numpy as np

In [5]:

arr=np. array([[1,2,np.nan],[3,4,np.nan]])

In [6]:
dframe1=DataFrame(arr,index=['A','B'],columns=['one','two','three'])
dframe1

   one  two  three
A  1.0  2.0    NaN
B  3.0  4.0    NaN

In [7]:
dframe1.sum()

one      4.0
two      6.0
three    0.0
dtype: float64

In [8]:
dframe1.sum(axis=1)

A    3.0
B    7.0
dtype: float64

In [9]:
dframe1.min()

one      1.0
two      2.0
three    NaN
dtype: float64

In [10]:
dframe1

   one  two  three
A  1.0  2.0    NaN
B  3.0  4.0    NaN

In [11]:
dframe1.idxmax()

one        B
two        B
three    NaN
dtype: object

In [12]:
dframe1.idxmin()

one        A
two        A
three    NaN
dtype: object

In [13]:
dframe1.cumsum()

   one  two  three
A  1.0  2.0    NaN
B  4.0  6.0    NaN

In [14]:
dframe1.describe()

            one       two  three
count  2.000000  2.000000    0.0
mean   2.000000  3.000000    NaN
std    1.414214  1.414214    NaN
min    1.000000  2.000000    NaN
25%    1.500000  2.500000    NaN
50%    2.000000  3.000000    NaN
75%    2.500000  3.500000    NaN
max    3.000000  4.000000    NaN

In [16]:
import pandas .io. data as pdweb
import datetime

ModuleNotFoundError: No module named 'pandas.io.data'

In [17]:
prices =pdweb.get_data_yahoo(['CVX','XOM','BP'],start=datetime.datetime(2010,1,1),end=datetime.datetime(2013,1,1))['adj close']

NameError: name 'pdweb' is not defined

In [20]:
prices.head()

NameError: name 'price' is not defined

In [18]:
volumes =pdweb.get_data_yahoo(['CVX','XOM','BP'],start=datetime.datetime(2010,1,1),end=datetime.datetime(2013,1,1))['adj close']

NameError: name 'pdweb' is not defined

In [19]:
volumes.head()

NameError: name 'volumes' is not defined

In [21]:
rets=price.pct_change()

NameError: name 'price' is not defined

In [22]:
corr=rets.corr

NameError: name 'rets' is not defined

In [25]:
%matplotlib inline
prices.plot()

NameError: name 'prices' is not defined

In [26]:
import seaborn as sns
import matplotlib.pyplot as plt

In [27]:
sns .corrplot(rets,annot=false ,diag_names=False)

AttributeError: module 'seaborn' has no attribute 'corrplot'